<div id="conteudo">
<p>

<fieldset>
 <legend><font size=4>Títulos Cadastrados</font></legend>
  <table width="100%" frame="box" rules="all">
        <tr>
       <th>
        Título
       </th>
       <th>
        Descrição
       </th>
       <th>
        Qt
       </th>
       <th>
        Valor
       </th>
       <th>
        Pontuação
       </th>
       <th>
        Tipo
       </th>
       <th>
         Data do Título
       </th>
       <th>
         
       </th>
     </tr>

    <%for tp in @titulo_busca%>

     <tr>
      <td  align="left">
        <font size="2"><%= truncate((Titulacao.find_by_id(tp.titulo_id).descricao),:length => 25,:omission => "...") %></font>
      </td>
      <td  align="center">
        <font size="2"><%= truncate(tp.obs,:length => 20,:omission => "...") %></font>
      </td>
      <td align="center">
        <%= tp.quantidade %>
      </td>
      <td align="center">
        <%= tp.valor %>
      </td>
      <td align="center">
        <%= tp.pontuacao_titulo %>
        <% session[:subtot_perm] = session[:subtot_perm] + (tp.pontuacao_titulo).to_f %>
      </td>
      <td align="center">
      <% if tp.tipo_curso == true%>
        <%= "PRESENCIAL" %>
      <%else%>
          <%  if (tp.quantidade<30) %>
            <%= "À DISTÂNCIA" %>-
            <font color ="red"><%= "NÃO VALIDO"%></font>
        <% else %>
            <%= "À DISTÂNCIA" %>
        <%end%>
      <%end%>
      </td>
      <td align="center">
      <%if !tp.dt_titulo.nil?%>
        <%= tp.dt_titulo.strftime("%d/%m/%Y") %>
      <%end%>
      </td>
        <td align="">
           <%= button_to 'Deletar', tp, :confirm => 'Confirma?', :method => :delete %>
      </td>
    </tr>

  <%end%>

</table>
<br />

</fieldset>

</div>

