
<% session[:subtot_perm] = 0 %>
<% session[:subtot_um] = 0 %>

<%  session[:subtotal_titulos] = 0 %>

<table width="100%" frame="box" rules="all">

<tr><th width="100%" colspan="6" align="center"><hr/><font size=4>Títulos Permanentes</font><hr/></th></tr>

     <tr style="font-size:12px">
       <th  width="30%">
        Título
       </th>
       <th  width="25%">
        Descrição
       </th>
       <th width="5%">
        Ano
       </th>
       <th width="10%">
        Quantidade
       </th>
       <th width="5%">
        Valor
       </th>
       <th  width="15%">
        Pontuação Obtida
       </th>
     </tr>
     <% if !((@tp.nil?) or (@tp.empty?)) %>
     <%for tp in @tp%>
     <tr style="font-size:12px">
      <td align="left">
        <font size="2"><%= truncate((Titulacao.find_by_id(tp.titulo_id).descricao),:length =>35,:omission => "...") %></font>
      </td>
      <td align="center">
        <font size="2"><%= truncate(tp.obs,:length => 20,:omission => "...") %></font>
      </td>
      <td align="center">
        <font size="2"><%= tp.ano_letivo %></font>
      </td>

      <td align="center">
        <font size="2"><%= tp.quantidade %></font>
      </td>
      <td align="center">
        <font size="2"><%= tp.valor %></font>
      </td>
      <td align="center">
        <font size="2"><%= tp.pontuacao_titulo %></font>
        <% session[:subtot_perm] = session[:subtot_perm] + (tp.pontuacao_titulo) %>
       

      </td>
   </tr>

  <%end%>
  <%end%>
<tr>
  <th width="80%" colspan="4" align="right">SUB-TOTAL </th>
  <th align="center">
    <%= session[:subtot_perm] %>

  </th>
</tr>


</table>


<table width="100%" frame="box" rules="all">

<tr style="font-size:10px"><th width="100%" colspan="7" align="center"><hr/><font size=4>Títulos de Contagem Anual</font><hr/></th></tr>
     <tr style="font-size:10px">
       <th align="left"  width="30%"><font size="2">Título</font></th>
       <th align="center" width="15%"><font size="2">Descrição</font></th>
       <th align="center" width="10%"><font size="2">Tipo</font></th>
              <th align="center" width="5%"><font size="2">Ano</font></th>
       <th align="center" width="10%"><font size="2">Quantidade</font></th>
       <th align="center" width="5%"><font size="2">Valor</font></th>
       <th align="center" width="15%"><font size="2">Pontuação Obtida</font></th>

    </tr>

<%for tp1 in @tp1%>
  <%teste = Time.current.strftime("%Y")%>
<% if (tp1.ano_letivo).to_s == Time.current.strftime("%Y") %>
     <tr style="font-size:10px">
      <td  align="left">
        <font size="2"><%= truncate((Titulacao.find_by_id(tp1.titulo_id).descricao),:length => 25,:omission => "...") %></font>
      </td>
      <td  align="center">
        <font size="2"><%= truncate(tp1.obs,:length => 20,:omission => "...") %></font>
      </td>
      <td align="center">
        <% if tp1.tipo_curso == true%>
          <font size="2"><%= "PRESENCIAL" %></font>
      <%else%>
          <%  if (tp1.quantidade<30) %>
            <font size="2"> <%= "À DISTÂNCIA" %></br>
            <font color ="red" size="2"><%= "NÃO VALIDO"%></font></font>
        <% else %>
            <font size="2"><%= "À DISTÂNCIA" %></font>
        <%end%>
      <%end%>
      </td>
      <td  align="center">
        <font size="2"><%= tp1.ano_letivo %></font>
      </td>
      <td  align="center">
        <font size="2"><%= tp1.quantidade %></font>
      </td>
      <td  align="center">
        <font size="2"><%= tp1.valor %></font>
      </td>
      <td  align="center">
        <font size="2"><%= tp1.pontuacao_titulo %></font>
        <% session[:subtot_um] = session[:subtot_um] + (tp1.pontuacao_titulo) %>
      </td>
      <!--true = a distancia e false = presencial!-->


   </tr>
  <%  tituloprof= tp1.professor_id  %>
  <% session[:ano] = tp1.ano_letivo %>
  <% anual = tp1.totaliza_anual(tp1.professor_id) %>
   <% permanente = tp.totaliza_permamente(tp.professor_id) %>
  <%end%>
<% end %>
<tr style="font-size:10px">
  <th width="80%" colspan="6" align="right"><font size="2">SUB-TOTAL </font></th>
  <th  align="center">
    <font size="2"><%= anual %></font>
  </th>
</tr>
<tr>
 <%  session[:subtotal_titulos] = session[:subtot_um] + session[:subtot_perm] %>

  <th width="80%" colspan="6" align="right">TOTAL TÍTULOS</th>
  <th align="center">
    <%= "#{session[:subtotal_titulos]}" %>
</tr>
<tr>
   <td widht="8%" colspan="7"><%= link_to image_tag("/stylesheets/images/alterar.png"),titulo_professors_path(:professor => $teacher, :type => 1)%>
                   
</tr>
</table>



