  <div class="tabs">
    <table bgcolor="#DCDCDC" width="100%">
        <tr bgcolor="#DCDCDC" >
            <th width="450">Nome</th>
            <th width="100">Apelido</th>
            <th width="100">Igreja</th>
            <th width="50">Fone</th>
            <th width="50">Celular</th>
            <th width="100">Empresas</th>
            <th colspan="3">Administração</th>
        </tr>
           <%$t=0%>
           <% @obreiros.each do |obreiro| %>
           <%$t = $t+1%>
        <tr bgcolor="#F5F5F5">
                <td align="left"><%=h obreiro.nome%></td>
                <td align="left"><%=h obreiro.apelido%></td>
                <td align="left"><%=h  obreiro.igreja%></td>
                <td align="left"><%=h  obreiro.fone%></td>
                <td align="left"><%=h  obreiro.cel%></td>
                <td align="left"><% obreiro.unidades.each do |unidade| %>
                                  <b>-</b> <%="#{unidade.nome}" %>
                                                  <%if unidade.em_atividade == true then%>
                                                    (<font color ="red "><b>INATIVO</b></font>)
                                                  <%else%>                                         
                                                  <%end%>
                                  <br/>
                                 <%end%>
               </td>
               <td align="center"><%= link_to image_tag("/stylesheets/images/exibir.gif", :size => "15x15"), obreiro, :title => "Exibir Periódico" %></td>
                <% if current_user.has_role?('admin')%>
                    <td align="center"><%= link_to image_tag("/stylesheets/images/edit.png", :size => "15x15"), edit_obreiro_path(obreiro), :title => "Editar Obreiro" %></td>
                <%else%>
                    <td align="center"> --- </td>
                <%end%>
                <% if current_user.has_role?('admin')%>
                    <td align="center"><%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "15x15"), obreiro, :confirm => 'Confirma?', :method => :delete, :title => "Excluir Obreiro" %></td>
                <%else%>
                    <td align="center"> --- </td>
                <%end%>
              </tr>
            <% end %>



     </table>
     <table bgcolor="#DCDCDC" width="100%">
      <tr >
        <td colspan="3" align="right"><b>TOTAL OBREIROS: </b>
            <font color ="red "size="2"><b><%=$t %></b></font> 
          </td>
      </tr>
    </table>
  </div>

