<div id="interno2">
<% title "OBREIRO" %>
<div class ="tabs">
<font size="5"><strong><%=h "#{@obreiro.nome}" %></strong></font></br>
 <hr>
 <table bgcolor="#DCDCDC" width="100%">
   <tr bgcolor="#DCDCDC"  width="100%">
     <td>
       <fieldset><legend><font  size=3><b> Dado dos Obreiro</b></font></legend>
         <table width="100%">
           <tr bgcolor="#F5F5F5"  width="100%">
             <td valign="top"  width="10%" >
                 
             </td>
             <td valign="top">
               <table  bgcolor="#DCDCDC" width="100%">
                <tr bgcolor="#F5F5F5">
                   <td align="left" width="4%"><b>Nome:</b></td>
                   <td colspan="3" align="left"><%=h @obreiro.nome %></td>
                </tr>
                <tr bgcolor="#F5F5F5" >
                   <td align="left"><b>Apelido:</b></td>
                   <td colspan="3" align="left"><%=h @obreiro.apelido %></td>
                </tr>
                 <tr bgcolor="#F5F5F5">
                  <td align="left"><b> Endereço:</b></td>
                  <td colspan="3" align="left"> <%=h @obreiro.endereco %> - <%=h @obreiro.num %></td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td align="left" ><b> Bairro:</b></td>
                  <td align="left"><%=h @obreiro.bairro %></td>
                  <td align="left" width="10%"><b> Cidade:</b></td>
                  <td align="left"><%=h @obreiro.cidade %>-<%=h @obreiro.cep %></td>
                </tr>
                <tr bgcolor="#F5F5F5">
                   <td align="left"><b> Complemento:</b></td>
                   <td align="left"><%=h @obreiro.complemento %></td>
                   <td align="left"><b> CEP:</b></td>
                   <td align="left"><%=h @obreiro.cep %></td>
                </tr>
                <tr  bgcolor="#F5F5F5">
                   <td align="left"><b>Fone:</b></td>
                   <td align="left"><%=h @obreiro.fone %></td>
                   <td align="left"><b>Celular</b></td>
                   <td align="left"><%=h @obreiro.cel %></td>
                </tr>
                <tr bgcolor="#F5F5F5">
                   <td align="left"><b> e_mail:</b></td>
                   <td align="left"  colspan="3"><%=h @obreiro.email %></td>
                </tr>
                 <tr bgcolor="#F5F5F5">
                   <td align="left"><b>Nascimento:</b></td>
                   <td colspan="3"align="left">  <%=h @obreiro.nascimento.strftime("%d de %B de %Y") %></td>
                </tr>
                 <tr  bgcolor="#F5F5F5">
                   <td align="left"><b>Estado Civil:</b></td>
                   <td align="left"><%=h @obreiro.fone %></td>
                   <td align="left"><b>Conjuge</b></td>
                   <td align="left"><%=h @obreiro.cel %></td>
               </tr>
               <tr bgcolor="#F5F5F5">
                  <td align="left"><b>Estado Civil:</b></td>
                  <td align="left"> <%=h @obreiro.estado_civil %></td>
                  <td align="left"><b>Conjuge:</b></td>
                  <td align="left"> <%=h @obreiro.conjuge %></td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td align="left"><b>Igreja:</b></td>
                  <td colspan="3" align="left"> <%=h @obreiro.conjuge %></td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td align="left" valign="top"><b> Empresas:</b></td>
                  <td align="left" colspan="3">
                     <% @obreiro.unidades.each do |unidade| %>
                     <b>-</b> <%="#{unidade.nome}" %><br/>
                   <%end%>
                 </td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td align="left"><b> Formação:</b></td>
                  <td align="left" colspan="3"><%=h  @obreiro.formação%></td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td align="left"><b> Observações:</b></td>
                  <td align="left" colspan="3"><%=h  @obreiro.obs%></td>
                </tr>
             </table>
           </td>
        </tr>
      </table>
     </fieldset>
   </td>
  </tr>
 </table>

    <table width="100%">
         <tr>
            <td width="6%"align="left" > <%= link_to image_tag("/stylesheets/images/voltar.png", :size => "35x35"), root_path, :title => "Voltar" %></td>
            <td width="6%"align="left" ><%= link_to image_tag("/stylesheets/images/consulta.png", :size => "35x35"), obreiros_path, :title => "Consultar Obreiro" %></td>
            <% if current_user.has_role?('admin') %>
                <td width="6%"align="left" ><%= link_to image_tag("/stylesheets/images/edit.png", :size => "25x25"), edit_obreiro_path(@obreiro), :title => "Editar Obreiro" %></td>
                <td><%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "25x25"), @obreiro, :confirm => 'Confirma Exclusão?', :method => :delete, :title => "Excluir Familiar" %></td>
              <%else%>
                <td align="center"> </td>
                <td align="center"> </td>

            <%end%>
          </tr>
    </table>

</div>
<br/>
</div>


