<div id="interno2">
<% title "CONSULTA_FICHA".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>VERIFICAR INCONSISTENCIAS PONTUAÇÃO - <%=  Time.now.year %> </strong></font><br/>
 </div>
    <div class="tabs">
<% session[:subtotal_titulos] = 0 %>
<% session[:permanente]= 0 %>
<% session[:anual] = 0 %>
<% session[:pontos] = 0%>
<% cont = 1%>
    <%for professor in @professor_erros%>
<% session[:subtotal_titulos] = 0 %>
<% session[:permanente]= 0 %>
<% session[:anual] = 0 %>
<% session[:pontos] = 0%>
      <% session[:professor_pontuacao_final] = professor.pontuacao_final %>

                <%@temposervico = TempoServico.find(:all,:conditions =>['professor_id = ? and ano_letivo = ?', professor, Time.now.year]) %>
                <% @tp = TituloProfessor.all(:joins => "inner join titulacaos on titulo_professors.titulo_id = titulacaos.id", :conditions =>["titulo_professors.professor_id =? and ano_letivo between ? and ? and titulacaos.tipo = 'PERMANENTE'", professor.id, 2009, Time.now.year ])%>
                <% @tp1 = TituloProfessor.find_by_sql("SELECT * FROM titulo_professors tp inner join titulacaos t on tp.titulo_id=t.id where tp.professor_id=" + (professor.id).to_s + " and t.tipo = 'ANUAL'and ano_letivo ="+Time.now.year.to_s) %>

         <%for temposervico in @temposervico%>
            <% session[:tempo_servico]= temposervico.total_geral_tempo_servico %>
           <% session[:total_tempo_servico]= temposervico.pontuacao_geral %>
            <% session[:ano_letivo] = temposervico.ano_letivo %>
            <% if !((@tp.nil?) or (@tp.empty?)) %>
               <%for tp in @tp%>
                  <% session[:permanente] = tp.total_permanente %>
               <%end%>
           <%end%>
           <%for tp1 in @tp1%>
               <% session[:ano] = tp1.ano_letivo %>
               <% session[:anual] =   tp1.totaliza_anual(tp1.professor_id) %>
           <% end %>
      <%end%>
        <% session[:subtotal_titulos] = session[:permanente] + session[:anual] %>
        <% session[:pontos]= session[:subtotal_titulos] + session[:tempo_servico]%>
        <% if ((session[:professor_pontuacao_final]!= session[:pontos]) or (session[:total_tempo_servico]!= session[:pontos]))and (session[:ano_letivo] > 2015)%>


      <table  bgcolor="#F5F5F5" width="100%">
              <% session[:teacher1111] = professor.id%>
              <tr>
                   <td align="left" width="10%"><b>Matrícula:</b></td>
                   <td align="left" width="20%"><%= professor.matricula%></td>
                   <td align="left" width="9%"><b>Nome:</b></td>
                   <td colspan="5"align="left"><%= professor.nome %> - <B>ID:</B> <%= professor.id%></td>
                </tr>
                 <tr>
                   <td align="left"><b>Função:</b></td>
                   <td align="left">  <%= professor.funcao%></td>
                   <td align="left"><b>Sede:</b></td>
                   <td align="left" colspan="3">  <%= professor.unidade.nome%></td>
                   <td align="right"><b>Jornada:</b></td>
                   <td align="left">  <%= professor.jornada_sem%></td>
                 </tr>
                 <tr>
                   <td align="left"><b>Situação:</b></td>
                   <td align="left">
                      <% if  professor.desligado == 1%>
                        <font color="red"> Desligado</font> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <b>Data:</b><%= professor.data_desligado.strftime("%d/%m/%Y")%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <b>Motivo:</b><%= professor.motivo%>
                      <%else%>
                        <font color="blue"> Ativo</font>
                      <%end%>
                   </td>
                </tr>
                <% session[:professor_pontuacao_final] = professor.pontuacao_final %>

             </table>

<!--  PONTUAÇÂO TEMPO SERVIÇO -->
           <%@temposervico = TempoServico.find(:all,:conditions =>['professor_id = ? and ano_letivo = ?', professor, Time.now.year]) %>
           <table width="100%" bgcolor="#F5F5F5" >
              <%for temposervico in @temposervico%>
                  <%  subtotal1= temposervico.dias_trab2 + temposervico.dias_trab1 %>
                  <%  subtotal2= temposervico.dias_efetivos2 + temposervico.dias_efetivos1%>
                  <%  subtotal3= temposervico.dias_rede2 + temposervico.dias_rede1%>
                  <%  if (Time.current.strftime("%Y").to_i)< (Time.now.year) %>
                      <%  subtotal4= temposervico.dias_unidade2 + temposervico.dias_unidade1%>
                  <%end%>
             <tr>
                <td colspan="15" align="center" > <u><b>Pontuação Tempo de Serviço</b></u><br/></td>
              </tr>
              <tr>
                 <td align="center">
                   <table frame="box" rules="all" width="100%">
                     <tr>
                       <td align="center" width ="20%"><b>Descrição</b></td>
                       <td align="center" width ="11%"><b>2º Sem. <%= temposervico.ano1%></b></td>
                       <td align="center" width ="11%"><b>1º Sem. <%= temposervico.ano2%></b><br/></td>
                       <td align="center" width ="11%"><b>SubTotal
                       <td align="center" width ="5%"><b>Peso</b></td>
                       <td align="center" width ="11%"><b>Totalização</td>
                       <td align="center" width ="12%" ><b>Total Anterior</b></td>
                       <td align="center" width ="10%"><b>Pontuação</b></td>
                      <td align="center" width ="8%"><b>Total</b></td>
                     </tr>
                    <tr>
                      <td align="left"><b>Total dias de trabalho</b></td>
                       <td align="center"><%= temposervico.dias_efetivos1%></td>
                       <td align="center"><%= temposervico.dias_efetivos2%></td>
                          <%tott2 = temposervico.dias_efetivos1 + temposervico.dias_efetivos2%>
                       <td align="center"><%= tott2%></td>
                       <td align="center"> 10 </td>
                       <td align="center"> <%=  (tott2* 10)%></td>
                       <td align="center"><%= temposervico.total_ant_efetivo%></td>
                      <td align="center"> <%= temposervico.total_efetivo %></td>
                    </tr>
                    <tr>
                      <td align="left"><b>Total de dias efetivos</b></td>
                       <td align="center"><%= temposervico.dias_trab1%></td>
                       <td align="center"><%= temposervico.dias_trab2%></td>
                           <%tott1 = (temposervico.dias_trab1 + temposervico.dias_trab2)%>
                       <td align="center"><%= tott1%></td>
                       <td align="center"> 2 </td>
                       <td align="center"> <%=  tott1* 2%></td>
                       <td align="center"><%= temposervico.total_ant_dias%></td>
                      <td align="center"> <%= temposervico.total_dias %></td>
                    </tr>

                    <tr>
                       <td align="left" width ="20%"><b>Total de dias rede</b></td>
                      <td align="center"><%= temposervico.dias_rede1%></td>
                       <td align="center"><%= temposervico.dias_rede2%></td>
                       <%tott3 =  temposervico.dias_rede1 + temposervico.dias_rede2%>
                       <td align="center"><%=  tott3%></td>
                       <td align="center"> 1 </td>
                       <td align="center"> <%=  (tott3* 1)%></td>
                       <td align="center"><%= temposervico.total_ant_rede%></td>
                      <td align="center"> <%= temposervico.total_rede %></td>
                    </tr>
                    <%  if (Time.current.strftime("%Y").to_i)< (Time.now.year) %>
                        <tr>
                            <td align="left" width ="20%"><b>Total de dias unidade</b></td>
                           <td align="center"><%= temposervico.total_ant_unid%></td>
                           <td align="center"><%= temposervico.dias_unidade1%></td>
                           <td align="center"><%= temposervico.dias_unidade2%></td>
                           <%tott4 = temposervico.total_ant_unid + temposervico.dias_unidade1 + temposervico.dias_unidade2%>
                           <td align="center"><%=  tott4%></td>
                           <td align="center"> 2 </td>
                           <td align="center"> <%= temposervico.total_unid %></td>
                        </tr>
                    <%end%>
                    <tr>
                      <td  colspan="8" align="right"><b>TOTAL PONTUAÇÃO TEMPO DE SERVIÇO</b>&nbsp&nbsp&nbsp</td>
                      <td align="center"><b><%= h temposervico.total_geral_tempo_servico%></b> </td>
                      <% session[:tempo_servico]= temposervico.total_geral_tempo_servico %>
                       <% session[:ano_letivo] = temposervico.ano_letivo %>
                  </tr>
                 </table>
               </td>
             </tr>

          </table>

<!--  PONTUAÇÂO TITULAÇÂO -->
        <%  session[:subtotal_titulos] = 0 %>

        <table width="100%"  bgcolor="#F5F5F5">

        <tr> <td colspan="7" align="center"> <u><b>Pontuação Titulação </b></u><br/></td></th></tr>
           <% if !((@tp.nil?) or (@tp.empty?)) %>
             <%for tp in @tp%>

                <% session[:permanente] = tp.total_permanente %>

             <%end%>
          <%end%>
          <%for tp1 in @tp1%>
            <% session[:ano] = tp1.ano_letivo %>
            <% session[:anual] =   tp1.totaliza_anual(tp1.professor_id) %>
          <% end %>
        <% session[:subtotal_titulos] = session[:permanente] + session[:anual] %>
        <tr>
          <td align="center">
            <table frame="box" rules="all" width="100%">
                <tr>
                  <th align="right">Sub-Total Títulos Permanentes &nbsp&nbsp&nbsp</th>
                  <th width ="8%" align="center"><%= session[:permanente] %></th>
                  <th width ="8%"></th>
                </tr>
                <tr>
                  <th align="right">Sub-Total Títulos Anuais &nbsp&nbsp&nbsp</th>
                  <th width ="8%" align="center"><%= session[:anual] %></th>
                  <th width ="8%"></th>
                </tr>
                <tr>
                  <th colspan="2"align="right">Sub-Total Títulos &nbsp&nbsp&nbsp</th>
                  <th width ="8%"><%= "#{session[:subtotal_titulos]}" %></th>
                </tr>
             </table>
          </td>
        </tr>
       </table>

       <% session[:pontos]= session[:subtotal_titulos] + session[:tempo_servico]%>
        <%end%>
        <table width="100%" bgcolor="#F5F5F5" >
          <tr>
            <td align="right"><font size="3"><% if (session[:professor_pontuacao_final]!= session[:pontos]) and (session[:ano_letivo] > 2015)%>
                                            <font color="red"> <%=h cont%>
                                              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                              
                                              <font color="red"> Há ERRO Tabela PROFESSOR </font>
                                              professor = <%=  session[:professor_pontuacao_final]%><br/>
                                              TS + TT =  <%=session[:pontos]%>
                                                    <!--  Verificar tabela professor e ou tempo serviço -->  <br/>
                                                   <%cont=cont+1%>
                                                   <% contado = 0 %>
                                             <%end%>
                                             <% if (session[:professor_pontuacao_final]!= session[:pontos]) and (session[:ano_letivo] > 2015)%>
                                             <%# if (session[:total_tempo_servico]!= session[:pontos]) and (session[:ano_letivo] > 2015)%>
                                            <font color="red"> <%=h cont%>
                                              professor = <%=  session[:professor_pontuacao_final]%><br/>
                                              TS + TT =  <%=session[:pontos]%>
                                              >>>>>>Lembrar de TP  sem lançamento no ano letivo  <br/>
                                              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

                                              <font color="red"> Há ERRO Tabela T.SERVIÇO </font>


                                                    <!--  Verificar tabela professor e ou tempo serviço -->  <br/>

                                                      <%cont=cont+1%>


                                             <%end%>

                                              <b>TOTAL PONTUAÇÃO TEMPO DE SERVIÇO</b>&nbsp&nbsp&nbsp</font></td>
            <td width="12%" align="center"><b><font size="3"> <%= session[:pontos]%></b></font> </td>
          </tr>









            <tr>
            <td align="right"><font size="3"><% if (professor.pontuacao_final)!= (professor.total_titulacao    + professor.total_trabalhado)%>
                                              <% @professor = Professor.find(professor.id) %>
                                              <% @professor.total_titulacao = session[:subtotal_titulos] %>
                                              <% @professor.save %>
                                              <% @titulo_professor = TituloProfessor.find(:last, :conditions => ['professor_id= ?',professor.id ]) %>
                                              <% @titulo_professor.total_titulacao = session[:subtotal_titulos] %>
                                              <% @titulo_professor.save %>
                                            <font color="GREEN">
                                              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                              
                                              <font color="green"> ALTERRADO  professors.total_titulacao  titulo_professor.total_titulacao        </font><br/>
                                              

                                             <%end%>


                                              <b>TOTAL PONTUAÇÃO TEMPO DE SERVIÇO</b>&nbsp&nbsp&nbsp</font></td>
            <td width="12%" align="center"><b><font size="3"> </font> </td>
          </tr>



















          <tr>
            <td colspan="7">
              <table bgcolor="#DCDCDC" width="100%">
                <tr>
                  <td ><hr/></td>
                </tr>
              </table>
            </td>
          </tr>
       </table>
    <%end%>
   <%end%>

       <br/>
  <table>
    <tr>
     <td width="6%"align="left" ><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
     <td align="left"><%= button_to 'Consultar', consulta_ficha_path, :title => "Consultar" %></td>

    </tr>
  </table>
 </div>






</div>

<br/>
</div>
