
<div id="interno2">
<% title "PROFESSORS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>CADASTRO DE PROFESSORES</strong></font><br/>
 </div>
      <div class="tabs">
          <% form_for @professor, :html => { :multipart => true } do |f| %>
           <%= f.error_messages %>
            <font  size="2">
              <fieldset><legend><font  size=3> Dados Professor</font></legend>
                <table width="100%" align="center"  bgcolor="#F5F5F5" >
                  <tr>
                    <td><b>Matricula: </b><%= f.text_field :matricula, :size => 24 %></td>
                    <td><b>Nome: </b><%= f.text_field :nome, :size => 84 %></td>
                  </tr>
                  <tr>
                    <td><b>Nascimento: </b><%= f.date_select(:dt_nasc, :order => [:day, :month, :year], :start_year => (Date.today.year), :end_year => (Date.today.year - 80)) %></td>
                    <td><b>RG: </b><%= f.text_field :RG, :size => 12 %>&nbsp&nbsp&nbsp
                        <b>CPF: </b><%= f.text_field :CPF, :size => 14 %>&nbsp&nbsp&nbsp&nbsp
                         <b>RD: </b><%= f.text_field :RD, :size => 10 %>&nbsp&nbsp&nbsp&nbsp
                        <b>INEP: </b><%= f.text_field :INEP, :size => 10 %></td>
                  </tr>

                  <tr>
                    <td colspan="2"><b> Endereço: </b><%= f.text_field :endres,:size =>54 %>
                        <b>Nº </b><%= f.text_field :num, :size => 4 %>&nbsp&nbsp&nbsp&nbsp
                        <b>Complemento: </b><%= f.text_field :complemento, :size =>40 %>
                    </td>
                  </tr>
                  <tr>
                    <td><b>Bairro: </b><%= f.text_field :bairro,:size =>30 %></td>
                    <td><b>Cidade: </b><%= f.text_field :cidade, :size =>50 %>&nbsp&nbsp&nbsp&nbsp
                      <b>CEP: </b><%= f.text_field :cep, :size =>15 %></td>
                  </tr>
                  <tr>
                    <td><b>Telefone(s): </b><%= f.text_field :telefone, :size =>40%>
                    <td><b>Celular(es): </b><%= f.text_field :cel, :size =>52 %>&nbsp&nbsp&nbsp&nbsp
                    <b>Nº Filhos: </b><%= f.text_field :n_filhos, :size => 2 %></td>
                  </tr>
                  <tr>
                    <td><b>E-mail(s): </b><%= f.text_field :email, :size =>38%>
                    <td colspan="3"><b>Data Ingresso: </b> <%= f.date_select(:dt_ingresso, :order => [:day, :month, :year], :start_year => (Date.today.year), :end_year => (Date.today.year - 80)) %>&nbsp&nbsp&nbsp&nbsp
                    <b>Jornada Semanal: </b><%= f.text_field :jornada_sem, :size =>4 %> horas</td>

                  </tr>
                  <% if current_user.has_role?('admin') or current_user.has_role?('SEDUC') %>
                      <tr>
                        <td> <b>Função/Cargo:</b> <%= f.collection_select :funcao, @cargos, :nome, :nome, :include_blank => @professor.funcao%></td>
                        <td><b>Formação: </b><%= f.select :entrada_concurso, options_for_select(Professor::Curso), :include_blank => @professor.entrada_concurso%></td>
                      </tr>
                      <tr>
                        <td colspan="4"> <b>Sede: </b><%= f.collection_select :sede_id, @unidades, :id, :nome, :include_blank => ' -- Selecione -- ' %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                         <b>Obs:</b><%= f.text_field :obs, :size => 106 %></td>

                      </tr>
                   <%else%>
                      <tr>
                        <td ><b>Função/Cargo:</b> <%= @professor.funcao  %>&nbsp&nbsp&nbsp&nbsp</td>
                        <td><b>Formação: </b><%= @professor.entrada_concurso %></td>
                      </tr>
                      <tr>
                        <td colspan="4"> <b>Sede: </b><%= @professor.unidade.nome%> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                         <b>Obs:</b><%= @professor.obs %></td>

                      </tr>
                  <%end%>


                 <tr>
                    <td colspan="4"><b>Desligado:</b>SIM <%= f.check_box :desligado %><b> em </b><%= f.date_select(:data_desligado, :order => [:day, :month, :year], :start_year => (Date.today.year), :end_year => (Date.today.year - 10)) %> &nbsp&nbsp&nbsp&nbsp
                    <b>Motivo:</b> <%= f.text_field :motivo, :size =>70%></td>
                 </tr>

                   <tr>


                     <td colspan="2"> </td>
                   </tr>


                </table>
                      <font  size="2" color ="red"><b>Campos com * preenchimento obrigatório</b></font>
                <fieldset>
                 <table>
                   <tr>
                      <td width="4%"align="left"><%= f.submit 'Salvar' %></td>
          <%end%>
                      <td width="4%"align="left"><%= button_to 'Consultar' ,consulta_professor_nome_path, :title => "Consultar" %></td>
                      <td><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
                      
                   </tr>
                 </table>
                </fieldset>
              </fieldset>
            </font>
          
    </div>
</div>
<br/>
</div>
