
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <img src="/stylesheets/images/logo.png"   alt=""  class="float-left"  />
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
       <font size="3"><i><b><u>SISTEMA DE PONTUAÇÂO</u></b><br/>
&nbsp&nbsp&nbsp
     <font size="1"><i><b>Prefeitua Municipal de  Americana </b></i>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp
<font size="3"><b><u> TITULAÇÂO PROFESSORES</u></b></i><br/>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <font size="1"><b><i> Secretaria da Educação</i></b>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
       <font size="2">Ano letivo: <%=  $ano%></font><br/>
<div class="tabs">
  <br/>
    <table width="100%" frame="box" rules="all" >
           <%for professor in @professor%>
              <tr style="font-size:10px">
                   <td align="left" width="10%"><b>Matrícula:</b></td>
                   <td align="left" width="20%"><%= professor.matricula%></td>
                   <td align="left" width="9%"><b>Nome:</b></td>
                   <td colspan="5"align="left"><%= professor.nome %></td>
                </tr>
                 <tr style="font-size:10px">
                   <td align="left"><b>Nascimento:</b></td>
                   <td align="left">  <%= professor.dt_nasc.strftime("%d/%m/%Y")%></td>
                   <td align="left"width="5%"><b>Nº Filhos:</b></td>
                   <td colspan="5"align="left">  <%= professor.n_filhos %></td>
                 </tr>
                 <tr style="font-size:10px">
                   <td align="left"><b>RG:</b></td>
                   <td align="left">  <%= professor.RG %></td>
                   <td align="left"><b>CPF:</b></td>
                   <td align="left">  <%= professor.CPF %></td>
                   <td align="left"width="5%"><b>INEP:</b></td>
                   <td align="left">  <%= professor.INEP %></td>
                   <td align="right"width="5%"><b>RD:</b></td>
                   <td align="left">  <%= professor.RD %></td>
                 </tr>
                 <tr style="font-size:10px">
                  <td align="left"><b> Endereço:</b></td>
                  <td colspan="5" align="left"> <%=  professor.endres %> - <%= professor.num %></td>
                  <td align="right"><b> Complemento:</b></td>
                  <td > <%=  professor.complemento %> - <%=  professor.num %></td>
                </tr>
                <tr style="font-size:10px" >
                  <td align="left" width="10%"><b> Cidade:</b></td>
                  <td colspan="2"align="left"><%=h professor.cidade %></td>
                  <td align="right" ><b> Bairro:</b></td>
                  <td colspan="2"align="left"><%=  professor.bairro %></td>
                  <td align="right"><b> CEP:</b></td>
                  <td align="left"><%=  professor.cep %></td>
                </tr>
                <tr style="font-size:10px" >
                   <td align="left"><b>Fone:</b></td>
                   <td align="left"><%=  professor.telefone %></td>
                   <td align="left"><b>Celular</b></td>
                   <td align="left"><%=  professor.cel %></td>
                   <td align="left"><b> e_mail:</b></td>
                   <td align="left"  colspan="3"><%= professor.email %></td>
                </tr>
                 <tr style="font-size:10px">
                   <td align="left"><b>Ingresso:</b></td>
                   <td align="left">  <%= professor.dt_ingresso.strftime("%d/%m/%Y")%></td>
                   <td align="left"><b>Formação:</b></td>
                   <td align="left"colspan="5">  <%= professor.entrada_concurso%></td>
                 </tr>
                 <tr style="font-size:10px">
                   <td align="left"><b>Função:</b></td>
                   <td align="left">  <%= professor.funcao%></td>
                   <td align="left"><b>Sede:</b></td>
                   <td align="left" colspan="3">  <%= professor.unidade.nome%></td>
                   <td align="right"><b>Jornada:</b></td>
                   <td align="left">  <%= professor.jornada_sem%></td>
                 </tr>
                  <tr style="font-size:10px">
                   <td align="left" ><b>Situação:</b></td>
                   <td align="left">
                      <% if  professor.desligado == 1%>
                        <font color="red"> Desligado</font> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <b>Data:</b><%= professor.data_desligado.strftime("%d/%m/%Y")%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <b>Motivo:</b><%= professor.motivo%>
                      <%else%>
                        <font color="blue"> Ativo</font>
                      <%end%>
                   </td>
                  <td align="left"><b> Observações:</b></td>
                  <td align="left" colspan="4 "><%=  professor.obs%></td>
                </tr>
                <%end%>
             </table>


                 <%  subtotal1= 0%>
                  <%  subtotal2= 0%>
                  <%  subtotal3= 0%>
                  <%  if (Time.current.strftime("%Y").to_i)< 2015 %>
                      <%  subtotal4= 0%>
                  <%end%>

 <hr>
           <table width="100%" frame="box" rules="all" >
              <tr>
                <th colspan="12" align="center"> <font size=3><u><b>Contagem Tempo de Serviço</b></u></font><br/></th>
              </tr>
              <tr>
                <th></th>
              </tr>
              <tr>
                 <th align="center" width ="5%"><b>Ano</b></th>
                 <th align="center" width ="5%" ><b>Dias</b></th>
                 <%  if (Time.current.strftime("%Y").to_i)< 2015 %>
                     <th align="center" width ="5%"><b>Unidade</b></th>
                     <th align="center" width ="5"><b>Outro<br/>Emprego</b></th>
                 <%end%>
                 <th align="center" width ="8%"><b>Faltas Abonadas</b></th>
                 <th align="center" width ="8%"><b>Faltas Atestados</b></th>
                 <th align="center" width ="10%"><b>Faltas Justificadas</b></th>
                 <th align="center" width ="10%"><b>Faltas Injustificadas</b></th>
                 <th align="center" width ="10%"><b>Licença Saúde</b></th>
                 <th align="center" width ="8%"><b>Afastamento</b></th>
                 <th align="center" width ="8%"><b>Outras Ausências</b></th>
                 <th align="center" width ="10%"><b>Dias Trabalhados</b></th>
                 <th align="center" width ="8%"><b>Dias Efetivos</b></th>
                 <th align="center" width ="8%"><b>Dias Rede</b></th>
                 <%  if (Time.current.strftime("%Y").to_i)< 2015 %>
                       <th align="center" width ="8%"><b>Dias Unidade</b></th>
                 <%end%>
              </tr>
            <% if !((@temposervico.nil?) or (@temposervico.empty?)) %>
              <%for temposervico in @temposervico%>
                 <%  subtotal1= temposervico.dias_trab2 + temposervico.dias_trab1 %>
                 <%  subtotal2= temposervico.dias_efetivos2 + temposervico.dias_efetivos1%>
                 <%  subtotal3= temposervico.dias_rede2 + temposervico.dias_rede1%>
                 <%  if (Time.current.strftime("%Y").to_i)< 2015 %>
                     <%  subtotal4= temposervico.dias_unidade2 + temposervico.dias_unidade1%>
                 <%end%>
              <tr>
                <th align="center"><%= temposervico.ano1%> </th>
                <th align="center"><%= temposervico.dias1 %> </th>
                <th align="center"><%= temposervico.unidade1%> </th>
                <%  if (Time.current.strftime("%Y").to_i)< 2015 %>
                     <th align="center"><%= temposervico.outro_trab1%> </th>
                     <th align="center"><%= temposervico.f_abonada1%> </th>
                <%end%>
                <th align="center"><%= temposervico.f_atestado1%> </th>
                <th align="center"><%= temposervico.f_justif1%> </th>
                <th align="center"><%= temposervico.f_injustif1%> </th>
                <th align="center"><%= temposervico.lic_saude1%> </th>
                <th align="center"><%= temposervico.afastamento1%> </th>
                <th align="center"><%= temposervico.outras_aus1%> </th>
                <th align="center"><%= temposervico.dias_trab1%> </th>
                <th align="center"><%= temposervico.dias_efetivos1%> </th>
                <th align="center"><%= temposervico.dias_rede1%> </th>
                <%  if (Time.current.strftime("%Y").to_i)< 2015 %>
                      <th align="center"><%= temposervico.dias_unidade1%> </th>
                <%end%>
              </tr>
              <tr>
                <th align="center"><%= temposervico.ano2%> </th>
                <th align="center"><%= temposervico.dias2%> </th>
                <%  if (Time.current.strftime("%Y").to_i)< 2015 %>
                     <th align="center"><%= temposervico.unidade2%> </th>
                      <th align="center"><%= temposervico.outro_trab2%> </th>
                <% end%>
                <th align="center"><%= temposervico.f_abonada2%> </th>
                <th align="center"><%= temposervico.f_atestado2%> </th>
                <th align="center"><%= temposervico.f_justif2%> </th>
                <th align="center"><%= temposervico.f_injustif2%> </th>
                <th align="center"><%= temposervico.lic_saude2%> </th>
                <th align="center"><%= temposervico.afastamento2%> </th>
                <th align="center"><%= temposervico.outras_aus2%> </th>
                <th align="center"><%= temposervico.dias_trab2%> </th>
                <th align="center"><%= temposervico.dias_efetivos2%> </th>
                <th align="center"><%= temposervico.dias_rede2%> </th>
                <%  if (Time.current.strftime("%Y").to_i)< 2015 %>
                     <th align="center"><%= temposervico.dias_unidade2%> </th>
                <%end%>
              </tr>
              <tr>
                <th colspan="9" align="right"><b>SUB TOTAL (em dias)</b>&nbsp&nbsp&nbsp</th>
                <th align="center"><%= subtotal1%> </th>
                <th align="center"><%= subtotal2%> </th>
                <th align="center"><%= subtotal3%> </th>
                <%  if (Time.current.strftime("%Y").to_i)< 2015 %>
                       <th align="center"><%= subtotal4%> </th>
                <%end%>
             </tr>
             <tr>
                <th colspan="15" align="center"><font size=3> <u><b>Pontuação Tempo de Serviço</b></u></font><br/></th>
              </tr>
              <tr>
                <th align="center" colspan="3"><b>Descrição</b></th>
                <th align="center"><b>Total Anterior</b></th>
                <th align="center" ><b>Total <%= temposervico.ano1%></b></th>
                <th align="center"><b>Total <%= temposervico.ano2%></b><br/></th>
                <th align="center"colspan="2"><b>Totalização</b></th>
                <th align="center"><b>Peso</b></th>
                <th align="center"><b>Pontuação </b></th>
             </tr>
             <tr>
                <th align="left"colspan="3"><b>Total de dias trabalhados</b></th>
                <th align="center"><%= temposervico.total_ant_dias%></th>
                <th align="center"><%= temposervico.dias_trab1%></th>
                <th align="center"><%= temposervico.dias_trab2%></th>
                   <%tott1 = temposervico.total_ant_dias + temposervico.dias_trab1 + temposervico.dias_trab2%>
                <th align="center" colspan="2"><%=  tott1%></th>
                <th align="center"> 10 </th>
                <th align="center"> <%= temposervico.total_dias %></th>
             </tr>
             <tr>
                <th align="left" colspan="3"><b>Total de dias efetivo</b></th>
                <th align="center"><%= temposervico.total_ant_efetivo%></th>
                <th align="center"><%= temposervico.dias_efetivos1%></th>
                <th align="center"><%= temposervico.dias_efetivos2%></th>
                   <%tott2 = temposervico.total_ant_efetivo + temposervico.dias_efetivos1 + temposervico.dias_efetivos2%>
                <th align="center" colspan="2"><%=  tott2%></th>
                <th align="center"> 2 </th>
                <th align="center"> <%=temposervico.total_efetivo%></th>
             </tr>
              <tr>
                <th align="left" colspan="3"><b>Total de dias rede</b></th>
                <th align="center"><%= temposervico.total_ant_rede%></th>
                <th align="center"><%= temposervico.dias_rede1%></th>
                <th align="center"><%= temposervico.dias_rede2%></th>
                    <%tott3 = temposervico.total_ant_rede + temposervico.dias_rede1 + temposervico.dias_rede2%>
                <th align="center" colspan="2"><%=  tott3%></th>
                <th align="center"> 1 </th>
                <td align="center"><b> <%= temposervico.total_rede %></b></td>
             </tr>
             <%  if (Time.current.strftime("%Y").to_i)< 2015 %>
                 <tr>
                    <th align="left" colspan="3"><b>Total de dias unidade</b></th>
                    <th align="center"><%= temposervico.total_ant_unid%></th>
                    <th align="center"><%= temposervico.dias_unidade1%></th>
                    <th align="center"><%= temposervico.dias_unidade2%></th>
                        <%tott4 = temposervico.total_ant_unid + temposervico.dias_unidade1 + temposervico.dias_unidade2%>
                    <th align="center" colspan="2"><%=  tott4%></th>
                    <th align="center"> 2 </th>
                    <th align="center"> <%= temposervico.total_unid %></th>
                </tr>
              <%end%>
            <tr>
                <th  colspan="10" align="right"><b>TOTAL PONTUAÇÂO TEMPO DE SERVIÇO</b>&nbsp&nbsp&nbsp</th>
                <th colspan="2"align="center"><b><%=  temposervico.total_geral_tempo_servico%></b></th>
           </tr>
         <%end%>
       <%end%>
      </table>

 <table width="100%" frame="box" rules="all">

<tr> <th colspan="7" align="center"> <u><font size="3"><b>Pontuação Titulação Permanente</b></font></u><br/></th></th></tr>

     <tr style="font-size:10px">
       <th  width="45%"> Título </th >
        <th width="8%"> Ano </th>
       <th width="10%"> Quantidade </th>
       <th width="12%"> Valor Título </th>
       <th width="12%"> Pontuação </th>
       <th width="20%"> Totalização </th>
     </tr>
     <% if !((@tp.nil?) or (@tp.empty?)) %>
     <%for tp in @tp%>

     <tr style="font-size:10px">
       <th align="left">
        <font size="1"><%= Titulacao.find_by_id(tp.titulo_id).descricao %></font>
      </th>
        <th align="center">
        <font size="1"><%= tp.ano_letivo %></font>
      </th>
      <th align="center">
        <font size="1"><%= tp.quantidade %></font>
      </th>
      <th align="center">
        <font size="1"><%= tp.valor %></font>
      </th>
      <th align="center">
        <font size="1"><%= tp.pontuacao_titulo %></font>

        <% session[:permanente] = tp.total_permanente %>

      </th>

   </tr>

  <%end%>
  <%end%>
<tr>
  <th  colspan="5" align="right">Sub-Total Títulos Permanentes &nbsp&nbsp&nbsp</th>
  <th align="center">
    <%= session[:permanente] %>

  </th>

</tr>


</table>


<table width="100%" frame="box" rules="all">

  <tr> <th colspan="7" align="center"> <font size="3"><u><b>Pontuação Titulação Anual</b></u></font><br/></th></th></tr>
     <tr style="font-size:10px">
       <th align="center"><font size="1"width="45%">Título</font></th>
       <th align="center"><font size="1"width="10%">Ano</font></th>
      <th><font size="1"width="12%">Tipo</font>  </th>
      <th align="center"width="10%"><font size="1">Quantidade</font></th>
       <th align="center"width="10%"><font size="1">Valor Título</font></th>
       <th align="center" width="10%"><font size="1">Pontuação</font></th>
       <th align="center" width="12%"><font size="1">Totalização</font></th>

    </tr>

<%for tp1 in @tp1%>

     <tr style="font-size:10px">
      <th  align="left">
        <font size="1"><%= Titulacao.find_by_id(tp1.titulo_id).descricao %></font>
      </th>
       <th  align="center">
        <font size="1"><%= tp1.ano_letivo %></font>
      </th>
      <th align="center">
        <% if tp1.tipo_curso == true%>
          <font size="1"><%= "PRESENCIAL" %></font>
      <%else%>
          <%  if (tp1.quantidade<30) %>
            <font size="1"> <%= "À DISTÂNCIA" %></br>
            <font color ="red" size="2"><%= "NÃO VALIDO"%></font></font>
        <% else %>
            <font size="1"><%= "À DISTÂNCIA" %></font>
        <%end%>
      <%end%>
      </th>
      <th  align="center">
        <font size="1"><%= tp1.quantidade %></font>
      </th>
      <th  align="center">
        <font size="1"><%= tp1.valor %></font>
      </th>
      <th  align="center">
            <font size="1"><%= tp1.pontuacao_titulo %></font>
      </th>
      <!--true = a distancia e false = presencial!-->

   </tr>
  <% $ano = tp1.ano_letivo %>
  <% session[:anual] = tp1.total_anual %>


<% end %>
<tr style="font-size:10px">
  <th colspan="6" align="right"><font size="1">Sub-Total Títulos Anuais </font>&nbsp&nbsp&nbsp</th>
  <th  align="center">
    <font size="1"><%= session[:anual] %></font>
  </th>
</tr>
<% $subtotal_titulos = session[:permanente] +    session[:anual]%>
<tr style="font-size:10px">
  <th  colspan="6" align="right" font size="1"> TOTAL TÍTULOS TÍTULOS</th>
  <th align="center" ><%= "#{$subtotal_titulos}" %></th>
</tr>
<tr>
    <th colspan="6" align="right"><font size="3"><b>TOTAL PONTUAÇÂO TEMPO DE SERVIÇO</b>&nbsp&nbsp&nbsp</font></th>
    <th width="12%" align="center"><b><font size="3"><%= $pontos%></b></font> </th>
</tr>
</table>




&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<font size ="1" ><b>Americana, <%= Time.now.strftime("%d/%m/%Y") %></b></font>


  </div>
 <table  class ="invisible_to_print " >
   <tr  class ="invisible_to_print ">
     <td align="right" class ="invisible_to_print "><%= button_to "Imprimir", onclick="javascript:window.print()", :title => "Imprimir" %></td>
  </tr>
 </table>
<br/>
<font size="1">
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

________________________________


&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

________________________________<br/>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

Diretor da Unidade Escolar
         
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

Professsor<br/><br/><br/>

</font>
&nbsp&nbsp


    

<br/>