<script Language="JavaScript">
function Imprimir(){
window.print();
}
</script>
<style media="print">
.botao {
display: none;
}
</style>

<div id="interno2">
<% title "TITULO_PROFESSORS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>CLASSIFICAÇÃO GERAL PONTUAÇÃO DE PROFESSORES </strong></font><br/>
 </div>
  <div class="tabs">
  <table border ="1" cellpadding="1" cellspacing="1" width="100%" >
    <tr>
      <th colspan="9">
        <font size="3"><b> Ano Letivo <%= Time.current.strftime("%Y").to_i%></b></font>
      </th>
    </tr>
    <tr>
      <center><th bgcolor="#cccccc" width = "1%"></th></center>
      <center><th bgcolor="#cccccc" width = "7%">Matrícula</th></center>
      <th bgcolor="#cccccc" width = "44%">Nome</th>
      <th bgcolor="#cccccc" width = "10%">Sede</th>
      <th bgcolor="#cccccc" width = "5%">T.Serviço</th>
      <th bgcolor="#cccccc" width = "5%">Titulação</th>
      <th bgcolor="#cccccc" width = "5%">Pontuação</th>

      <th bgcolor="#cccccc"  width = "20%">Função</th>
     </tr>
     <% num=0 %>
      <% for  ts in @professor_rel_geral %>
     <% num= num+1 %>
      <tr>
        <td ><center><%= num%>º</center></td>
        <td ><center><%=h ts.professor.matricula %></center></td>
        <td ><center><%=h ts.professor.nome %></center></td>
        <td ><center><%=h ts.professor.unidade.nome %></center></td>
        <td > <center><%=h ts.professor.total_trabalhado %></center></td>
        <td ><center><%=h ts.professor.total_titulacao %></center></td>
            <% if ts.pontuacao_geral.nil? then %>
                    <td ></td>
            <%else%>
                <td ><center><%=h ts.pontuacao_geral%></center></td>
            <%end%>
        <td width = "30%"><center><%=h ts.professor.funcao%></center></td>
     </tr>
    <% end %>
             <tr>
                 <% session[:tipoclassificacao] = 'CLASSIFICACÃO GERAL' %>
                   <td widht="8%" colspan="6"><b><%= link_to image_tag("/stylesheets/images/imprimir12.png"), onclick="javascript:MM_openBrWindow('#{impressao_geral_consulta_path(:professor => $teacher)}','impressao', 'scrollbars=yes');", :title => "Imprimir" %></b></td>
              </tr>
</table>
      <table>
    <tr>
     <td width="6%"align="left" ><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
    </tr>
  </table>
<br />
</div>
</div>
<br/>
</div>


