&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <img src="/stylesheets/images/logo.png"   alt=""  class="float-left"  />
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
       <font size="2"><i><b><u>SISTEMA DE PONTUAÇÃO</u></b><br/>
&nbsp&nbsp&nbsp
     <font size="1"><i><b>Prefeitua Municipal de  Americana </b></i>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

<font size="2"><b><u><%= session[:tipoclassificacao] %> </u></b></i><br/>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <font size="1"><b><i> Secretaria da Educação</i></b>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

<font size="2"><b><u>PONTUAÇÃO DE PROFESSORES </u></b></i><br/>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
       <font size="1">Ano letivo: <%= Time.current.strftime("%Y").to_i%></font><br/>
<div class="tabs">
  <br/>
    <table width="100%" frame="box" rules="all" >
     <tr style="font-size:9px">
     <center><th bgcolor="#cccccc" width = "1%"></th></center>
     <center><th bgcolor="#cccccc" width = "5%">Matrícula</th></center>
      <th bgcolor="#cccccc" width = "44%">Nome</th>
      <th bgcolor="#cccccc" width = "5%">Unidade</th>
      <th bgcolor="#cccccc" width = "5%">T.Serviço</th>
      <th bgcolor="#cccccc" width = "5%">Titulação</th>
      <th bgcolor="#cccccc" width = "5%">Pontuação</th>
      <th bgcolor="#cccccc"  width = "10%">Função</th>
     </tr>
     <%num=0%>
      <% for ts in @professor_impressao %>
     <%num = num+1%>
      <tr style="font-size:9px">

        <th ><center><%= num%>º</center></td>
        <th ><center><%=h ts.matricula %></center></th>
        <th ><center><%=h ts.nome %></center></th>
        <th ><center><%=h ts.unidade.nome %></center></th>
        <th > <center><%=h ts.total_trabalhado %></center></th>
        <th ><center><%=h ts.total_titulacao %></center></th>
            <% if ts.pontuacao_final.nil? then %>
                    <th ></th>
            <%else%>
                <th ><center><%=h ts.pontuacao_final%></center></th>
            <%end%>
        <th width = "30%"><center><%=h ts.funcao%></center></th>
     </tr>
    <% end %>
             </table>




&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<font size ="1" ><b>Americana, <%= Time.now.strftime("%d/%m/%Y") %></b></font>


  </div>
 <table  class ="invisible_to_print " >
   <tr  class ="invisible_to_print ">
     <td align="right" class ="invisible_to_print " ><%= button_to "Imprimir", onclick="javascript:window.print()", :title => "Imprimir" %></td>
  </tr>
 </table>
<br/>
<font size="1">
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp



&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

________________________________<br/>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

SECRETARIA EDUCAÇÃO<br/>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
Prefeitura de Americana
         
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp



</font>
&nbsp&nbsp


    

<br/>