                              <table frame="box" rules="all">
                               <tr>
                                 <td align="center" width ="8%"><b>Ano</b></td>
                                 <td align="center" width ="8%" ><b>Dias</b></td>
                                 <td align="center" width ="8%"><b>Unidade</b></td>
                                 <td align="center" width ="8%"><b>Outro<br/>Emprego</b></td>
                                 <td align="center" width ="8%"><b>Faltas<br/>Abonadas</b></td>
                                 <td align="center" width ="8%"><b>Faltas<br/>Atestados</b></td>
                                 <td align="center" width ="8%"><b>Faltas<br/>Justificadas</b></td>
                                 <td align="center" width ="8%"><b>Faltas<br/>Injustificadas</b></td>
                                 <td align="center" width ="8%"><b>Licença<br/>Saúde</b></td>
                                 <td align="center" width ="8%"><b>Afastamento</b></td>
                                 <td align="center" width ="8%"><b>Outras<br/>Ausências</b></td>

                              </tr>
                              <tr>

                                <td align="center"><%= (Time.current.strftime("%Y").to_i)-1%> </td>
                                <td align="center"><%= f.text_field :dias1,:size =>5%> </td>
                                <td align="center"><%= f.text_field :unidade1,:size =>5%> </td>
                                <td align="center"><%= f.text_field :outro_trab1,:size =>5%> </td>
                                <td align="center"><%= f.text_field :f_abonada1,:size =>5%> </td>
                                <td align="center"><%= f.text_field :f_atestado1,:size =>5%> </td>
                                <td align="center"><%= f.text_field :f_justif1,:size =>5%> </td>
                                <td align="center"><%= f.text_field :f_injustif1,:size =>5%> </td>
                                <td align="center"><%= f.text_field :lic_saude1,:size =>5%> </td>
                                <td align="center"><%= f.text_field :afastamento1,:size =>5%> </td>
                                <td align="center"><%= f.text_field :outras_aus1,:size =>5%> </td>
                              </tr>
                              <tr>

                                <td align="center"><%= (Time.current.strftime("%Y").to_i)%> </td>
                                <td align="center"><%= f.text_field :dias2,:size =>5%> </td>
                                <td align="center"><%= f.text_field :unidade2,:size =>5%> </td>
                                <td align="center"><%= f.text_field :outro_trab2,:size =>5%> </td>
                                <td align="center"><%= f.text_field :f_abonada2,:size =>5%> </td>
                                <td align="center"><%= f.text_field :f_atestado2,:size =>5%> </td>
                                <td align="center"><%= f.text_field :f_justif2,:size =>5%> </td>
                                <td align="center"><%= f.text_field :f_injustif2,:size =>5%> </td>
                                <td align="center"><%= f.text_field :lic_saude2,:size =>5%> </td>
                                <td align="center"><%= f.text_field :afastamento2,:size =>5%> </td>
                                <td align="center"><%= f.text_field :outras_aus2,:size =>5%> </td>
                              </tr>
                             </table>